@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

@Html.Partial("_Modals")

<table class="table table-light table-hover" id="ProductsTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Action(Edit)</th>
        <th>Action(Delete)</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Add dataTable
        $(document).ready(function () { $("#ProductsTable").DataTable({
                ajax: {url: "api/products",dataSrc: ""},
                columns: [{data: "name"}, {data: "price"},
                    {data: "id",render: function (data) {
                            return "<button class = 'btn btn-warning' id='editProductBtn' edit-Product-id=" + data + ">Edit</button>";
                    } },
                    {data: "id",render: function (data) {
                            return "<button class = 'btn btn-danger' id='deleteProductBtn' delete-Product-id=" +data + ">Delete</button>";
                        }
                    }
                ]
            });

            //Add new Product
            $("#productSubmit").click(function () {
                var formdata = {
                    "name": $("#productName").val(),
                    "price": $("#productPrice").val()
                };
                $.ajax({
                    url: "api/products",
                    method: "POST",
                    data: JSON.stringify(formdata),
                    contentType: "application/json;charset=utf-8",
                    processData: true,
                    success: function () {
                        $("#productModal").modal("hide");
                        location.reload(true);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });

            //Delete Product
            $("#productsTable").on("click",
                "#deleteProductBtn",
                function () {
                    var ProductId = $(this).attr("delete-Product-id");
                    $("#deleteProductModal").modal("show");
                    $("#deleteProductSubmit").click(function () {
                        $.ajax({
                            url: "/api/products/" + ProductId,
                            method: "DELETE",
                            success: function () {
                                $("#deleteProductModal").modal("hide");
                                location.reload(true);
                            }
                        });
                    });
                });

            //Edit Product
            $("#productsTable").on("click","#editProductBtn",
                function() {
                    var ProductId = $(this).attr("edit-Product-id");
                    $("#editProductModal").modal("show");
                    $.ajax({
                        url: "api/products/" + ProductId,
                        method: "GET",
                        success: function(data) {
                            var productData = JSON.parse(JSON.stringify(data));
                            $("#ProductName").attr("placeholder", productData.name);
                            $("#ProductPrice").attr("placeholder", productData.price);
                            $("#editProductSubmit").click(function() {
                                var formdata = {
                                    "name": $("#ProductName").val(),
                                    "price": $("#ProductPrice").val()
                                };
                                $.ajax({url: "/api/Products/" + ProductId,method: "PUT",
                                    data: JSON.stringify(formdata),contentType: "application/json;charset=utf-8",processData: true,success: function () {
                                        $("#editProductModal").modal("hide");
                                        location.reload(true);
                                    },
                                    error: function(xhr) {alert(xhr.responseText);}
                                });
                            });
                        },
                        error: function(xhr) {
                            alert(xhr.responseText);
                        }
                    });
                });
        });
    </script>
}