@{
    ViewBag.Title = "Stores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stores</h2>

@Html.Partial("_Modals")

<table class="table table-light table-hover" id="storestable">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Address</th>
            <th>Action(Edit)</th>
            <th>Action(Delete)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Add dataTable
        $(document).ready(function () {
            $("#storestable").DataTable({
                ajax: { url: "api/stores", dataSrc: "" },
                columns: [
                        { data: "name" },
                        { data: "address" },
                        { data: "id",render: function (data) {
                            return "<button class = 'btn btn-warning' id='editStoreBtn' edit-Store-id=" +
                                data + ">Edit</button>";}
                        },
                        { data: "id",render: function (data) {
                            return "<button class = 'btn btn-danger' id='deleteStoreBtn' delete-Store-id=" +
                                data + ">Delete</button>";}
                        }
                ]
            });

            //Add new Store
            $("#storeSubmit").click(function () {
                var formdata = {
                    "name": $("#storeName").val(),
                    "address": $("#storeAddress").val()
                };

                $.ajax({
                    url: "api/stores",
                    method: "POST",
                    data: JSON.stringify(formdata),
                    contentType: "application/json;charset=utf-8",
                    processData: true,
                    success: function () {
                        $("#storeModal").modal("hide");
                        location.reload(true);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });

            //Delete Store
            $("#storestable").on("click",
                "#deleteStoreBtn",
                function () {

                    var StoreId = $(this).attr("delete-Store-id");

                    $("#deleteStoreModal").modal("show");

                    $("#deleteStoreSubmit").click(function () {

                        $.ajax({
                            url: "/api/stores/" + StoreId,
                            method: "DELETE",
                            success: function () {
                                $("#deleteStoreModal").modal("hide");
                                location.reload(true);
                            }
                        });
                    });
                });

            //Edit Store
            $("#storestable").on("click",
                "#editStoreBtn",
                function () {
                    var StoreId = $(this).attr("edit-Store-id");

                    $("#editStoreModal").modal("show");

                    $.ajax({
                        url: "api/stores/" + StoreId,
                        method: "GET",
                        success: function (data) {

                            var storeData = JSON.parse(JSON.stringify(data));
                            $("#StoreName").attr("placeholder", storeData.name);
                            $("#StoreAddress").attr("placeholder", storeData.address);

                            $("#editStoreSubmit").click(function () {
                                var formdata = {
                                    "name": $("#StoreName").val(),
                                    "address": $("#StoreAddress").val()
                                };
                                $.ajax({
                                    url: "/api/stores/" + StoreId,
                                    method: "PUT",
                                    data: JSON.stringify(formdata),
                                    contentType: "application/json;charset=utf-8",
                                    processData: true,
                                    success: function () {
                                        $("#editStoreModal").modal("hide");
                                        location.reload(true);
                                    },
                                    error: function (xhr) {
                                        alert(xhr.responseText);
                                    }
                                });
                            });
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                        }
                    });
                });
        });
    </script>
}