@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales</h2>

@Html.Partial("_Modals")

<table class="table table-light table-hover" id="ProductSoldsTable">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Store Name</th>
            <th>Date Sold</th>
            <th>Action(Edit)</th>
            <th>Action(Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{
    <script>
        //Add dataTable
        $(document).ready(function () {
            $("#ProductSoldsTable").DataTable({
                ajax: {
                    url: "api/productsolds",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customer.name"
                    },
                    {
                        data: "product.name"
                    },
                    {
                        data: "store.name"
                    },
                    {
                        data: "dateSold",
                        render: function (data) {
                            return moment(data).format("DD/MM/YYYY");
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-warning' id='editProductSoldBtn' edit-ProductSold-id=" +
                                data +
                                ">Edit</button>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-danger' id='deleteProductSoldBtn' delete-ProductSold-id=" +
                                data +
                                ">Delete</button>";
                        }
                    }
                ]
            });

            //Populate product sold modal
            $("#addproductSoldBtn").click(function () {
                $.ajax({
                    url: "api/customers",
                    method: "GET",
                    success: function (data) {
                        var listCustomers = "<option value=''>Please select a customer</option>"
                        $.each(data,
                            function (id, customer) {
                                listCustomers += "<option value='" + customer.id + "'>" + customer.name + "</option>"
                            });
                        $("#productSoldCustomerList").html(listCustomers);
                    }
                });

                $.ajax({
                    url: "api/products",
                    method: "GET",
                    success: function (data) {
                        var listProducts = "<option value=''>Please select a product</option>"
                        $.each(data,
                            function (id, product) {
                                listProducts += "<option value='" + product.id + "'>" + product.name + "</option>"
                            });
                        $("#productSoldProductList").html(listProducts);
                    }
                });

                $.ajax({
                    url: "api/stores",
                    method: "GET",
                    success: function (data) {
                        var listStores = "<option value=''>Please select a store</option>"
                        $.each(data,
                            function (id, store) {
                                listStores += "<option value='" + store.id + "'>" + store.name + "</option>"
                            });
                        $("#productSoldStoreList").html(listStores);
                    }
                });

                //Add Product Sold
                $("#productSoldSubmit").click(function () {
                    var formdata = {
                        "customerId": $("#productSoldCustomerList").val(),
                        "productId": $("#productSoldProductList").val(),
                        "storeId": $("#productSoldStoreList").val(),
                        "dateSold": $("#productSoldDate").val()
                    };
                    $.ajax({
                        url: "api/productsolds",
                        method: "POST",
                        data: JSON.stringify(formdata),
                        contentType: "application/json;charset=utf-8",
                        processData: true,
                        success: function () {
                            $("#productSoldModal").modal("hide");
                            location.reload(true);
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                        }
                    });
                });
            });

            //Delete Product Sold
            $("#ProductSolds").on("click",
                "#deleteProductSoldBtn",
                function () {

                    var ProductSoldId = $(this).attr("delete-ProductSold-id");

                    $("#deleteProductSoldModal").modal("show");

                    $("#deleteProductSoldSubmit").click(function () {

                        $.ajax({
                            url: "/api/productsolds/" + ProductSoldId,
                            method: "DELETE",
                            success: function () {
                                $("#deleteProductSoldModal").modal("hide");
                                location.reload(true);
                            }
                        });
                    });
                });

            //Edit Product Sold
            $("#ProductSolds").on("click",
                "#editProductSoldBtn",
                function () {
                    var productSoldId = $(this).attr("edit-ProductSold-id");

                    $("#editProductSoldModal").modal("show");

                    //Populate Product Sold Details with dropdown menus using jQuery getJSON function
                    $.ajax({
                        url: "api/productsolds/" + productSoldId,
                        method: "GET",
                        success: function (data) {
                            var selectedCustomerId = data.customerId;
                            var selectedProductId = data.productId;
                            var selectedStoreId = data.storeId;
                            var listCustomers = "<option value ='" +
                                selectedCustomerId +
                                "'>" +
                                data.customer.name +
                                "</option>";
                            var listProducts = "<option value ='" +
                                selectedProductId +
                                "'>" +
                                data.product.name +
                                "</option>";
                            var listStores = "<option value ='" +
                                selectedStoreId +
                                "'>" +
                                data.store.name +
                                "</option>";

                            $.getJSON("api/customers",
                                function (data) {
                                    $.each(data,
                                        function (key, customer) {
                                            if (customer.id !== selectedCustomerId) {
                                                listCustomers += "<option value='" +
                                                    customer.id +
                                                    "'>" +
                                                    customer.name +
                                                    "</option>";
                                            }
                                        });
                                    $("#editProductSoldCustomerList").html(listCustomers);
                                });

                            $.getJSON("api/products",
                                function (data) {
                                    $.each(data,
                                        function (key, product) {
                                            if (product.id !== selectedProductId) {
                                                listProducts += "<option value='" +
                                                    product.id +
                                                    "'>" +
                                                    product.name +
                                                    "</option>";
                                            }
                                        });
                                    $("#editProductSoldProductList").html(listProducts);
                                });

                            $.getJSON("api/stores",
                                function (data) {
                                    $.each(data,
                                        function (key, store) {
                                            if (store.id !== selectedStoreId) {
                                                listStores += "<option value='" +
                                                    store.id +
                                                    "'>" +
                                                    store.name +
                                                    "</option>";
                                            }
                                        });
                                    $("#editProductSoldStoreList").html(listStores);
                                });

                            $("#editProductSoldDate").attr("placeholder", moment(data.dateSold).format("YYYY-MM-DD"));

                            //Submit Edited Product Sold Form
                            $("#editProductSoldSubmit").click(function () {
                                var formdata = {
                                    "customerId": $("#editProductSoldCustomerList").val(),
                                    "productId": $("#editProductSoldProductList").val(),
                                    "storeId": $("#editProductSoldStoreList").val(),
                                    "dateSold": $("#editProductSoldDate").val()
                                };

                                $.ajax({
                                    url: "/api/productsolds/" + productSoldId,
                                    method: "PUT",
                                    data: JSON.stringify(formdata),
                                    contentType: "application/json;charset=utf-8",
                                    processData: true,
                                    success: function () {
                                        $("#editProductSoldModal").modal("hide");
                                        location.reload(true);
                                    },
                                    error: function (xhr) {
                                        alert(xhr.responseText);
                                    }
                                });
                            });
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                        }
                    });
                });
        });
    </script>
}